<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <h5 class="mb-4">Add Consumer</h5>
    <form novalidate="">
      <div class="card mb-4">
        <div class="card-body mb-2">
          <h5 class="form-group-title">Consumer Information</h5>
          <div class="row">
            <div class="form-group col-md-4">
              <label>Campaign ID</label>
              <input type="text" class="form-control"/>
            </div>
            <div class="form-group col-md-4">
              <label>Vendor Name</label>
              <input type="text" class="form-control"/>
            </div>
            <div class="form-group col-md-4">
              <label>Sub Vendor</label>
              <input type="text" class="form-control"/>
            </div>
            <div class="form-group col-md-4">
              <label>First Name</label>
              <input type="text" class="form-control"/>
            </div>
            <div class="form-group col-md-4">
              <label>Last Name</label>
              <input type="text" class="form-control"/>
            </div>

            <div class="form-group col-md-4">
              <label>Title</label>
              <select  class="form-control">
                <option value="1">Title 1</option>
                <option value="2">Title 2</option>
                <option value="3">Title 3</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Email</label>
              <input type="email" class="form-control"/>
            </div>
            <div class="form-group col-md-4">
              <label>Phone</label>
              <input type="text" class="form-control"/>
            </div>
            <div class="form-group col-md-4">
              <label>QatarID</label>
              <input type="number" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 form-submitter">
        <button type="submit" class="btn btn-primary site-btn"> Submit </button>
      </div>
    </form>
  </div>
</div>
